div#content {
	position: absolute;
	top: 190px;
	left: 138px;
	width: 1081px;
	border: 6px solid #FF3030;
	background-color: #FDF5E6;
	z-index: 3;
	box-shadow: 1px 1px 10px black;
    margin-bottom: 50px;
}

#content img {
	width: 100%;
    /*margin: 30px;*/
    /*margin-left: 10%;*/
    /*border: 2px solid red;*/
}

div.phone {
	position: absolute;
	top: 15px;
	letter-spacing: 1px;
	left: 270px;
	text-align: center;
}

	div.phone span {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
	}
		
		div.phone span:first-child {
			letter-spacing: 2px;
		}
		
		div.phone span:last-child {
			letter-spacing: 1px;
		}
	
	div.phone button {
		background: #0096ff;
		color: #FFF;
		font-family: 'Roboto', sans-serif;
		padding: 5px 24px;
		border: 0px;
	}
		
		div.phone button:hover {
			background: #1874CD;
		}
		
	div.phone a {
			color: #104E8B;
			font-family: 'Roboto', sans-serif;
	}
	
div.address {
	text-align: center;
	position: absolute;
	top: 10px;
	right: 250px;
}

	div.address span {
		text-align: right;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
	}
	
#zzz {
	width: 140px;
	height: 10px;
	background: #FF3030;
	position: absolute;
	top: 180px;
	left: 136px;
	z-index: 5;
}

#zzz {
	width: 140px;
	height: 10px;
	background: #FF3030;
	position: absolute;
	top: 180px;
	left: 136px;
	z-index: 5;
}